(reverse-proxy-settings) {
    header_down X-Real-IP {remote}
    header_down -Access-Control-Allow-Origin "{http.request.header.origin}"
    header_down -Access-Control-Allow-Headers "{http.request.header.Access-Control-Request-Headers}"
    header_down -Access-Control-Expose-Headers "*"
    header_down -Access-Control-Allow-Credentials true
    header_down -Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
    header_down Host {host}
    header_down X-Forwarded-Proto {scheme}
}

(defaults) {
    encode gzip

    # cors
    header {
            Access-Control-Allow-Origin "{http.request.header.origin}"
            Access-Control-Allow-Headers "{http.request.header.Access-Control-Request-Headers}"
            Access-Control-Expose-Headers "*"
            Access-Control-Allow-Credentials true
            Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
            Vary Origin
    }
}


:8080 {
import defaults

    route /api* {
        reverse_proxy localhost:3333 {
            import reverse-proxy-settings
        }
    }

    route /* {
        reverse_proxy localhost:3000 {
            import reverse-proxy-settings
        }
    }
}
